<!DOCTYPE html>
<html>
<!--Header Info-->
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body>

    <!--Book Bootstrap to Show Cart Icon-->
    <div class="bg-dark text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand">Welcome to the BookStore!</div>
                <div class="col-6 text-right">
                    <vc:cart-summary />
                </div>
            </div>
        </div>

    </div>

    <!--Extra Bootstrap #2-->
    <div>
        <img class="img-fluid w-100 h-50"src="~/lib/bookshelf-with-children-s-books-literature-for-boys-children-s-reading-colorful-books-covers-banner-for-school-library-bookstore-fair-festival-vector.jpg" />
    </div>

    <!--Show Book Categories-->
    <div class="row m-1 p-1">
        <div id="types" class="col-3">
            <vc:types></vc:types>
        </div>
        <div class="col-9">
            <div>
                @RenderBody()
            </div>
        </div>
    </div>

</body>
</html>
