@page
@model Mission9.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <br />s
    <h2>Thank You!!</h2>
    <h4>We are getting started on your order right away. In the meantime, explore more of our books and get inspired by new arrivals.</h4>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>