@page
@model Mission9.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Thank you for your order. We hope to see you again soon.</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>